@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


body{
    background-color: #f4f4f4;
    font-family: 'Merriweather', serif;
}

h1{
    text-align: center;
}

.titulo-Pesquisa{
    margin-top: 150px;
    margin-bottom: 100px;
}

.button-submit{
    background-color:#8ec6c5;
    font-size: 1.5rem;
    margin-left: 50px;
    width: 200px;
}

.pesquisar-usuario{
    display: flex;
    flex-direction: row;
}

.resultados{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
}

.usuarios-encontrados{
    width: 400px;

}

.usuarios-estatisticas{
    width: 400px;
}

.usuarios-encontrados,
.usuarios-estatisticas{

    padding: 10px;
    align-items: center;
    margin-top: 10px;
    border: 2px solid #8ec6c5;
    margin-right: 10px;
}

.itens-busca{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-picture{
    border-radius: 50%;
}

.profile-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.rodape{
    margin: 50px auto;
    align-items: center;
    width: 900px;
    padding-top: 10px;
    text-align: center;
    font-size: 1.2rem;

}

.igti:hover{
    color: #8566aa;
    text-decoration: underline;
}

.fab{
    color: black;
}
.fab:hover{
    color: #8ec6c5

}

#tabPeopleFind > h1{
    font-size: 1.5rem;


}